body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
}

button{
    padding: 10px 15px;
}

input {
    width: 152px;
    padding: 10px;
}

#limpar{
    width: 176px;
}

#ponto{
    padding: 10px 16.6px;
}
#adicao{
    padding: 10px 14px;
}